.logo {
    height: 90px; /* Set the height to match the font size of h2 and h4 */
    position: absolute; /* Position the logo absolutely */
    top: 30px; /* Align the logo to the top of the screen */
    left: 50px; /* Align the logo to the left of the screen */
    padding: 15px; /* Adjust padding as needed */
}
.logo:hover {
    filter: grayscale(100%) invert(100%) brightness(10%);
}
.watermark {
    height: 80px; /* Set the height to match the font size of h2 and h4 */
    position: absolute; /* Position the logo absolutely */
    top: 30px; /* Align the logo to the top of the screen */
    left: 100px; /* Align the logo to the left of the screen */
    padding: 15px; /* Adjust padding as needed */
}

.center {
    position: absolute;
    top: 50%;
    left: 50%; /* Move the left edge to the quarter point */
    transform: translate(-50%, -50%);
}



.floor-1 {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px; /* Set width to 1440 pixels */
    height: 1024px; /* Set height to 1024 pixels */
    box-sizing: border-box;
}

.floor-1 .hallway {
    position: absolute;
    left: 157px;
    top: 344px; /* Adjusted to match the hallway's top position */
    width: 1119px;
    height: 420px;
}

/* Room 1 */
.floor-1 .room-1 {
    position: absolute;
    left: 311px;
    top: 557px;
    width: 154px;
    height: 213px;
    transform-origin: top left; /* Set the origin of rotation */
    transform: rotate(180deg);
}

.floor-1 .room-1:hover {
    filter: grayscale(100%) invert(100%) brightness(10%);
}

/* Room 2 */
.floor-1 .room-2 {
    position: absolute;
    left: 342px;
    top: 344px;
    width: 177px;
    height: 213px;
}

.floor-1 .room-2:hover {
    filter: grayscale(100%) invert(100%) brightness(20%);
}

/* Stair 1 */
.floor-1 .stairs-1 {
    position: absolute;
    left: 519px;
    top: 496px;
    width: 93px;
    height: 61px;
}

/* Stair 2 */
.floor-1 .stairs-2 {
    position: absolute;
    left: 822px;
    top: 496px;
    width: 93px;
    height: 61px;
}

/* Room 3 */
.floor-1 .room-3 {
    position: absolute;
    left: 915px;
    top: 344px;
    width: 171px;
    height: 213px;
}

.floor-1 .room-3:hover {
    filter: grayscale(100%) invert(100%) brightness(20%);
}

/* Room 4 */
.floor-1 .room-4 {
    position: absolute;
    left: 1112px;
    top: 344px;
    width: 164px;
    height: 213px;
}

.floor-1 .room-4:hover {
    filter: grayscale(100%) invert(100%) brightness(10%);
}
/* Room 5 */
.floor-1 .room-5 {
    position: absolute;
    left: 157px;
    top: 612px;
    width: 93px;
    height: 104px;
}

.floor-1 .room-5:hover {
    filter: grayscale(100%) invert(100%) brightness(10%);
}

/* Room 6 */
.floor-1 .room-6 {
    position: absolute;
    left: 250px;
    top: 612px;
    width: 269px;
    height: 141px;
}

.floor-1 .room-6:hover {
    filter: grayscale(100%) invert(100%) brightness(20%);
}

/* Stair 3 */
.floor-1 .stairs-3 {
    position: absolute;
    left: 519px;
    top: 612px;
    width: 93px;
    height: 46px;
}

/* Stair 4 */
.floor-1 .stairs-4 {
    position: absolute;
    left: 822px;
    top: 612px;
    width: 93px;
    height: 46px;
}

/* Room 7 */
.floor-1 .room-7 {
    position: absolute;
    left: 908px;
    top: 612px;
    width: 273px;
    height: 140px;
    transform-origin: top left; /* Set the origin of rotation */
    transform: rotate(0deg);
}

.floor-1 .room-7:hover {
    filter: grayscale(100%) invert(100%) brightness(20%);
}

/* Room 8 */
.floor-1 .room-8 {
    position: absolute;
    left: 1174px;
    top: 612px;
    width: 102px;
    height: 104px;
}
.floor-1 .room-8:hover {
    filter: grayscale(100%) invert(100%) brightness(10%);
}


.floor-2 {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px; /* Set width to 1440 pixels */
    height: 1024px; /* Set height to 1024 pixels */
    box-sizing: border-box;
}
